{%  extends 'main.html' %}

{% block content %}
<br>

<div class="row">
	<div class="col-md">
		<h5>STUDENTI</h5>
		<hr>
		<div class="card card-body">
			
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Korisničko Ime</th>
                    <th>Email</th>
                    <th>Status</th>
				</tr>

				{% for student in studenti %}
					<tr>
						<td><a class="btn btn-info" href="{%  url 'upisni_list' student.id %}" >
                            <i class="far fa-edit"></i>
                            </a>
                        </td>
						<td>{{student.username}}</td>
                        <td>{{student.email}}</td>
                        <td>{{student.status}}</td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock content %}