{%  extends 'main.html' %}

{% block content %}

<br>
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">
            <p>Jeste li sigurni da želite upisati predmet "{{predmet.kod}} {{predmet.ime}}"?</p>
            <form action="" method="POST">
                {% csrf_token %}
                {{form}}
                <a class="btn btn-warning" href="{% url 'upisni_list' student_id %}" name="Odustani">Odustani</a>
                <button class="btn btn-info" type="submit" name="Upiši">Upiši</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}